.meme-item {
    &__content {
        display: inline-block;
        margin: 20px;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        &:hover {
            cursor: pointer;
            border: 3px solid darkblue
        }
    }
    &__image {
        max-height: 300px;
        width: auto;
    }
}